

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container {
    height: 100vh;
    background-color: beige;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.banner-container-text {

}

.segment-1-container {
    background-color: aqua;
    width: 100%;
}

.home-posts-container {
    margin: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.home-post-item-container {
    border: 1px solid #ccc;
    padding: 15px;
}

.item-1 {
    grid-row: span 3;
}

.item-2 {
    grid-row: span 2;
}

.item-3 {
    grid-row: span 1;
}