/* Navbar.css */

@font-face {
    font-family: 'brand-name-font';
    src: url('../../assets/Kalam-Bold.ttf');
}

@font-face {
    font-family: 'navbar-font';
    src: url('../../assets/SpecialElite-Regular.ttf');
}

.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background-color: #000000e2; 
    position: fixed;
    color: white;
    z-index: 2;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.brand-name {
    width: 12rem;
}

.brand-name a{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'brand-name-font';
}

.brand-name.sticky a {
    color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    font-family: 'navbar-font';
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); /* Optional: text shadow for better readability */

}

.nav-links.sticky a{
    color: white;
}

.nav-links a.active {
    border-bottom: 2px solid #000000;
}

.nav-links.sticky a.active {
    border-bottom: 2px solid white;
}

.admin-site-container {
    width: 12rem;
    text-align: right;
    color: #000000;
}

.admin-site-login-text {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: 'navbar-font';
    padding: 6px;
    text-decoration: none;
    color: black;
}

.admin-site-login-text:hover {
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 1.8rem;
        left: 0;
        right: 0;
        text-align: center;
        height: 5.5rem;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin: 0.2rem;
    }

    .nav-links.sticky {
        background-color: #000000e2;
        height: 1.8rem;
        top: 4rem;
    }

    .nav-links a.active {
        border-bottom: none;
        
    }

    .brand-name {
        width: 8rem;
    }

    .brand-name a{
        max-width: 4rem;
        font-size: 24px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    .nav-links.mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        justify-self: center;
        padding: 5px;
    }

    .mobile-menu-icon {
        display: flex;
    }

    .mobile-menu-icon.sticky .bar{
        background-color: white;
    }

    .mobile-menu-icon.open .bar:first-child {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mobile-menu-icon.open .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-icon.open .bar:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .admin-site-container {
        width: 8rem;
    }
}