@font-face {
    font-family: 'main-font';
    src: url('../../assets/Caveat-Medium.ttf');
}

@font-face {
    font-family: 'buttons-font';
    src: url('../../assets/SpecialElite-Regular.ttf');
}

@font-face {
    font-family: 'text-font';
    src: url('../../assets/Comfortaa-Regular.ttf');
}


.postView-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('/src/assets/post-view-bg.jpg');
    background-position: center;
    background-size: cover;
}

.postView-return-container, .postView-return-scrollMax-container {
    position: fixed;
    right: 20px;
    display: block;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: bottom 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-family: 'buttons-font';
}

.postView-return-container:hover, .postView-return-scrollMax-container:hover {
    background-color: black;
    color: white;
    border-color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.postView-return-container {
    bottom: 50px;
}

.postView-return-scrollMax-container {
    bottom: 80px;
}



.postView-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
    background-color: rgba(221, 226, 231, 0.385);
    width: 90%;
    min-height: 75vh;
    border-radius: 15px;
}

/*  MAIN CONTAINER  */

.postView-main-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 80%;
}

.postView-main-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postView-main-title-text {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-family: 'main-font';
    font-size: 35px;
}

.postView-main-info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.postView-main-info-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'main-font';
}
.postView-main-info-data-author {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.postView-main-info-data-date {
    font-size: 18px;
    margin-left: 1rem;
    margin-bottom: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.postView-main-info-data-time {
    font-size: 15px;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 1px;
}

.postView-main-info-like-container {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.postView-main-info-like-btn {
    height: 25px;
    width: 25px;
    transition: opacity 0.8s ease-in-out;
}

.postView-main-info-like-btn:hover {
    cursor: pointer;
}

.postView-main-info-like-btn.active {
    opacity: 1;
}

.postView-main-info-like-btn.initial {
    opacity: 0.5;
}

.postView-main-info-like-text {
    margin-top: 5px;
    align-self: center;
    font-family: 'main-font';
}

.postView-main-text-container {
    margin-top: 20px;
    text-align: center;
    font-family: 'text-font';
}

.postView-main-image {
    float: right;
    height: 300px;
    margin-left: 12px;
    border-radius: 10px;
}

.postView-main-text {
    text-align: justify;
    margin-top: 0;
}



/* BREAK */

.postView-container-break {
    height: 1px;
    border-top: 4px solid;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* SECONDARY CONTAINER */

.postView-secondary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.postView-comments-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.postView-comments-input-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}

.postView-comments-input-header {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 20px;
    font-family: 'buttons-font';
}

.comment-input-box  {
    height: 1.5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.502);
    font-family: 'buttons-font';
    padding-left: 5px;
}

.comment-username {
    width: 50%;
}

.comment-content {
    height: 70px;
    border: 2px solid;
    padding-top: 12px;
}

.comment-submit-btn {
    width: 125px;
    align-self: flex-end;
    padding: 5px;
    border-radius: 5px;
    font-family: 'buttons-font';
}

.comment-submit-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.postView-comments-break {
    height: 1px;
    border-top: 1px solid;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postView-comments-content-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.postView-comments-comment-container {
    display: flex;
    gap: 1rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

.postView-comment-favicon-container {
    display: flex;
    justify-content: center;
}

.postView-comment-favicon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    margin-top: 8px;
    font-family: 'main-font';
}

.postView-comment-data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postView-comment-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.postView-comment-info-text-container {
    display: flex;
    flex-direction: column;
}

.postView-comment-info-author {
    margin: 1px;
    font-family: 'main-font';
}

.postView-comment-info-date-time-container {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    font-family: 'buttons-font';
}

.postView-comment-info-date {
    margin: 0;
    font-size: small;
}

.postView-comment-info-time {
    margin: 0;
    margin-top: 1px;
    font-size: smaller;
}

.postView-comment-info-like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.postView-comment-content-container {
    display: flex;
}

.postView-comment-content-text {
    font-family: 'buttons-font';
}

.postView-footer-container {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
padding: 20px;
}

.postView-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 5px;  
    font-family: 'buttons-font';
}

.postView-footer-btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Loading container */

.loading-post-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.loading-post-text {

}