

.post-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
}

.post-item-main {
    height: 10rem;
}

.post-item-secondary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}