.posts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.posts-block {
    width: 90%;
    margin-top: 125px;
    margin-bottom: 125px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minmax value to your requirement */
    gap: 15px;
    justify-content: center;
    align-items: start;
    padding: 2rem;
    width: 100%;
}

.loading-container {
    display: flex;
}

.post-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-link-posts {
    display: block;
    text-decoration: none;
    color: inherit;
}
