
.postView-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}

.postView-return-container, .postView-return-scrollMax-container {
    position: fixed;
    right: 20px;
    display: block;
    border: 1px solid;
    border-radius: 10px;
    background-color: black;
    color: whitesmoke;
    transition: bottom 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.postView-return-container {
    bottom: 50px;
}

.postView-return-scrollMax-container {
    bottom: 80px;
}



.postView-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
    background-color: rgb(221, 226, 231);
    width: 90%;
    min-height: 75vh;
}

/*  MAIN CONTAINER  */

.postView-main-container {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 80%;
}

.postView-main-title-container {
    display: flex;
}

.postView-main-title-text {
    color: rgb(30, 17, 167);
}

.postView-main-info-container {
    display: flex;
    justify-content: space-between;
}

.postView-main-info-data-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.postView-main-info-data-author {

}

.postView-main-info-data-date {

}

.postView-main-info-like-container {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.postView-main-info-like-btn {
    height: 25px;
    width: 25px;
    transition: opacity 0.8s ease-in-out;
}

.postView-main-info-like-btn:hover {
    cursor: pointer;
}

.postView-main-info-like-btn.active {
    opacity: 1;
}

.postView-main-info-like-btn.initial {
    opacity: 0.5;
}

.postView-main-info-like-text {
    align-self: flex-end;
}

.postView-main-text-container {
    margin-top: 20px;
    text-align: center;
}

.postView-main-image {
    float: right;
    height: 300px;
    margin-left: 12px;
    border-radius: 10px;
}

.postView-main-text {
    text-align: justify;
    margin-top: 0;
}



/* BREAK */

.postView-container-break {
    height: 1px;
    border-top: 4px solid;
    width: 100%;
    margin-bottom: 2rem;
}

/* SECONDARY CONTAINER */

.postView-secondary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.postView-comments-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.postView-comments-input-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5px;
}

.postView-comments-input-header {
    text-align: left;
    margin-bottom: 1rem;
}

.comment-username {

}

.comment-content {
    height: 50px;
}

.comment-submit-btn {
    width: 125px;
    align-self: flex-end;
}

.postView-comments-break {
    height: 1px;
    border-top: 1px solid;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postView-comments-content-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.postView-comments-comment-container {
    display: flex;
    gap: 1rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

.postView-comment-favicon-container {
    display: flex;
    justify-content: center;
}

.postView-comment-favicon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
}

.postView-comment-data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postView-comment-info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.postView-comment-info-text-container {
    display: flex;
    flex-direction: column;
}

.postView-comment-info-author {
    margin: 2px;
}

.postView-comment-info-date {
    margin: 0;
    font-size: small;
}

.postView-comment-info-like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.postView-comment-info-like-btn {

}

.postView-comment-info-like-text {
    font-size: small;
}

.postView-comment-content-container {
    display: flex;
}

.postView-comment-content-text {

}

.postView-footer-container {
display: flex;
justify-content: center;
align-items: center;
width: 50%;
padding: 20px;
}

.postView-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 25px;   
}

.postView-footer-btn:hover{
    cursor: pointer;
}

/* Loading container */

.loading-post-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.loading-post-text {

}