.post-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    padding: 1rem;
    width: 400px;
    height: 400px; /* Set a fixed height for uniform size */
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.843);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.post-item-main {
    width: 100%;
}

.post-item-main-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.post-item-text-container {
    text-align: left;
    flex-grow: 1; /* Allow the text container to grow and fill the available space */
    overflow: hidden; /* Ensure text doesn't overflow */
}

.post-item-text-small {
    font-size: 13px;
}

.post-item-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.post-item-image {
    height: 10rem;
    width: 80%;
    border-radius: 8px;
}

.post-item-secondary {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
