.posts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/src/assets/posts-bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.posts-block {
    width: 90%;
    margin-top: 125px;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    border-radius: 15px;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px); /* Set a fixed width for each column */
    gap: 15px;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

.loading-container {
    display: flex;
}

.loading-icon {
    border-radius: 50%;
}

.post-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.post-link-posts {
    display: block;
    text-decoration: none;
    color: inherit;
}
